
html {
   
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(245, 245, 245);
 
}

.jumbotron {
		background-color: white;
		// color: orange;
    }

.navbar  {
    padding-left: 5em;
}

.media{
    padding: 5em 5em;    
	height: 25rem;
	position: absolute;
}
body {
    height: 100%;
    h1{
        color: rgb(15, 36, 105);
        letter-spacing: 18px;
        padding-bottom: 2rem;
        font-size: 4rem;
    }
    h3, p {
        color:  rgb(57, 221, 16);
    }
    p {
        font-size: 18px;
    }
    margin:0;
    padding:0;
    

}

#navbarText {
	font-size: 3rem;
	// padding-top: 4rem;
}
#sticky-footer {
    flex-shrink: none;
  }

nav {
   
    background: #43BFC7;
}


  footer {
      padding: 30px;
    //   background: dark;
  }

  .about__us {
    background: #43BFC7;

  }
//   #contact{
    // background: #43BFC7;

//   }

.social {
    background: #43BFC7;
}

#cards-pricing {
    background: #43BFC7;
}

.denton {
    color: navy;
	// color: rgb(15, 36, 105);/
	// color: red;
    // font-weight: bold;
}

#write-us{
    background-color: #43BFC7;
}

#toothlogo{
	padding-left: 2rem;
	// width: 150%;
	// style="max-width: 1000%"
}

#one {
    color: magenta
}

