
html {
   
    font-family: 'Nunito Sans', sans-serif;
    
    padding-left: 3rem;
    padding-right: 3rem;
    // background-position: center;
    // background-size: cover;

    background-color: whitesmoke;
    // background: radial-gradient(circle, rgb(34, 0, 19), rgb(164, 2, 196));
    // background-image: linear-gradient(rgba(173, 162, 8, 0.555)),url("../img/city.jpeg");

}
.logo_one{
    width: 200px;
    margin-right: 20px;
}
.jumbotron {
        background-color: white;
        // padding-bottom: -2px;
        // color: black;
    }

.navbar  {
    padding-left: 5em;
}

.media{
    padding: 5em 5em;
    // margin-bottom: 30px;
    // background-image: linear-gradient(rgba(173, 162, 8, 0.555)),url("../../img/brush.jpg");
    // background-image:url("../../img/brush.jpg");
     background-position: center;
    background-size: cover;
    
    height: 300px;
}
body {
    h1{
        color: rgb(0, 240, 248);
        font-size: 60px;
        font-size: 20rem;
        // padding-top: rem;
    }
    h2, h3, p {
        color:  rgb(251, 255, 250);
    }
    p {
        font-size: 18px;
    }
    

    margin:0;
    padding:0;

}