
html {
   
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: whitesmoke;
 
}

.jumbotron {
        background-color: white;
    }

.navbar  {
    padding-left: 5em;
}

.media{
    padding: 5em 5em;    
    height: 25rem;
}
body {
    height: 100%;
    h1{
        color: rgb(15, 36, 105);
        letter-spacing: 18px;
        padding-bottom: 2rem;
        font-size: 4rem;
    }
    h3, p {
        color:  rgb(251, 255, 250);
    }
    p {
        font-size: 18px;
    }
    margin:0;
    padding:0;
    

}


#sticky-footer {
    flex-shrink: none;
  }

nav {
   
    background: #43BFC7;
}


  footer {
      padding: 30px;
    //   background: dark;
  }

  .about__us {
    background: #43BFC7;

  }
//   #contact{
    // background: #43BFC7;

//   }

.social {
    background: #43BFC7;
}

#cards-pricing {
    background: #43BFC7;
}

.nav-link {
    // color: purple;
    color: rgb(15, 36, 105);;
    font-weight: bold;
    // font-size: 1rem;
}

#write-us{
    background-color: #43BFC7;
}

/* ?========================================================================== */
/* banner */
/* ========================================================================== */

.bannerText
{
    // margin-left: 1px;
    background-color: white;
    color: #43BFC7;
	position: absolute;
	top: 50%;
    left: 40%;
    align-content: center;
	transform: translateY(-50%);
	max-width: 855px;
}
.bannerText h1
{
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
	transform: scaleX(0);
	animation: revealTextReverse 1s ease-in-out forwards;
	letter-spacing: 3px;
	text-shadow: 0 0 5px rgb(2, 247, 255)
}
.bannerText h1
{
	font-size: 6em;
	animation-delay: 2s;
}

.bannerText h1:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	// background: transparent;
	// background: rgba(67, 190, 199, 0.493);
	// border-radius: 25px;
	// border: rounded;
	width: 100%;
	height: 100%;
	transform-origin: right;
	animation: revealText 1s ease-in-out forwards;
	animation-delay: 1s;
}

@keyframes revealText
{
	0%
	{
		transform: scaleX(1);
	}
	100%
	{
		transform: scaleX(0);
	}
}
@keyframes revealTextReverse
{
	0%
	{
		transform: scaleX(0);
	}
	100%
	{
		transform: scaleX(1);
	}
}
.bannerText h2, h5
{
    color: #43BFC7;
	opacity: 0;
	font-weight: 400;
	// font-size: 1.2em;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2s;
}
@keyframes fadeIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
.bannerText a
{
	opacity: 0;
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 1px;
	animation: fadeInBottom 0.5s linear forwards;
	animation-delay: 5.5s;
}
@keyframes fadeInBottom
{
	0%
	{
		transform: translateY(50px);
		opacity: 0;
	}
	100%
	{
		transform: translateY(0);
		opacity: 1;
	}
}
// 

/* Zoom In #1 */
// 